{% extends 'shared/base.html' %}

{% load static %}

{% block content %}

    <div class="container h-screen flex items-center justify-center">
        <div class="user_card  min-h-screen flex flex-col shadow-md p-4 w-3/5">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">LOGIN</h3>
            </div>
            <div class="my-5 d-flex justify-content-center">
                <form method="POST" action="">
                    {% csrf_token %}
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text">Email:</span>
                        </div>
                        <input type="email" placeholder="Email" class="input input-bordered w-full max-w-xs" name="username"/>
                    </label> <br>
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text">Password:</span>
                        </div>
                        <input type="password" placeholder="Password" class="input input-bordered w-full max-w-xs" name="password"/>
                    </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            {% for message in messages %}
                <p id="messages"> {{ message }}</p>
            {% endfor %}
        </div>
    </div>


{% endblock %}